.divmin{
	margin-left: -6px;
}
.divmoyen{
	margin-left: -6px;
}
.h7{
	margin-left: -6px;
}
.im8{
       margin-left: 30px;
        border:1px solid black;
        border-radius: 60px;

}